<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="
        http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <!-- bean definitions here -->


    <!--movie bean-->


    <!--<bean id="movie" class="CodeWithNikhil.LearnSpring.XmlBasedIoc.Movie" init-method="start" destroy-method="destroy">
        <constructor-arg name="id" value="1"></constructor-arg>
        <constructor-arg name="movieName" value="harry potter-1"></constructor-arg>
        <constructor-arg name="releaseYear" value="2001"></constructor-arg>
        <constructor-arg name="genre" value="fantasy"></constructor-arg>
        <constructor-arg name="cast">
            <list>
                <value>harry</value>
                <value>ron</value>
                <value>harm</value>

            </list>
        </constructor-arg>
        <constructor-arg name="castSalary">
            <map>
                <entry key="harry" value="70000"></entry>
                <entry key="ron" value="60000"></entry>
                <entry key="harm" value="50000"></entry>
            </map>
        </constructor-arg>
    </bean>-->

    <!--cast bean-->

    <bean id="cast1" class="CodeWithNikhil.LearnSpring.XmlBasedIoc.cast">
        <constructor-arg name="id" value="1"></constructor-arg>
        <constructor-arg name="name" value="potter"></constructor-arg>
        <constructor-arg name="role" value="main"></constructor-arg>
    </bean>
    <bean id="cast2" class="CodeWithNikhil.LearnSpring.XmlBasedIoc.cast">
        <constructor-arg name="id" value="2"></constructor-arg>
        <constructor-arg name="name" value="wesley"></constructor-arg>
        <constructor-arg name="role" value="friend"></constructor-arg>
    </bean>

    <bean id="cast3" class="CodeWithNikhil.LearnSpring.XmlBasedIoc.cast">
        <constructor-arg name="id" value="3"></constructor-arg>
        <constructor-arg name="name" value="granger"></constructor-arg>
        <constructor-arg name="role" value="gf"></constructor-arg>
    </bean>

    <!--salary bean-->


    <bean id="salary1" class="CodeWithNikhil.LearnSpring.XmlBasedIoc.salary">
        <constructor-arg name="salary" value="70000"></constructor-arg>
    </bean>
    <bean id="salary2" class="CodeWithNikhil.LearnSpring.XmlBasedIoc.salary">
        <constructor-arg name="salary" value="40000"></constructor-arg>
    </bean>
    <bean id="salary3" class="CodeWithNikhil.LearnSpring.XmlBasedIoc.salary">
        <constructor-arg name="salary" value="10000"></constructor-arg>
    </bean>


</beans>